<!DOCTYPE html>
<html>
  <head>
    <title>Today</title>
  </head>

  <body>
    <h1>Today</h1>
    <p> <% date_time = DateTime.now%>
        <% date = date_time.to_date%>
      The date is p>
  </body>
</html>